.DS_Store
constants.py
READMEprop.md
__pycache__/constants.cpython-311.pyc
asdf
awesome.db
csvfiles/garbage - Copy.csv
csvfiles/garbage.csv
csvfiles/id_abbreviations.csv
csvfiles/out.csv
csvfiles/out.txt
csvfiles/owc_23.csv
errorlog.txt
testingrmd.Rmd
